@model ToDo.Models.TaskList

@{
    ViewData["Title"] = "Szczegóły";
}
<div class=" p-5" style="border-radius:5vh;">
    <partial name="_Background" />
    <div class="no-gradient">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1> @Html.DisplayFor(modelItem => Model.Title)</h1>

            <a asp-action="Index" asp-route-id="@Model?.TaskListId">
                <i style="text-decoration:none;color:black;" class="bi bi-x-lg"></i>
            </a>
        </div>

        <div>
            <p>Data utworzenia: @Html.DisplayFor(model => model.CreateDate)</p>
            <div class="row g-0 row-cols-xs-1 row-cols-xxs-1">
                <div class="col-sm-6 col-md-8"> <a asp-action="Edit" asp-route-id="@Model?.TaskListId" class="btn btn-outline-dark">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@Model?.TaskListId" class="btn btn-outline-danger">Usuń</a>
                </div>
                <div class="col-6 col-md-4 text-end"><a href="@Url.Action("Create", "Tasks", new { taskListId = Model.TaskListId })" class="btn btn-outline-dark">Dodaj zadanie</a></div>
            </div>
            <hr />
        </div>
    </div>
</div>