@model ToDo.Models.TaskList

@{
    ViewData["Title"] = "Szczegóły";
}
<div class=" p-5" style="border-radius:5vh">
    <div class="no-gradient">
        <div style="display: flex; justify-content: space-between; align-items: center;padding-right:20px">
            <h1> @Html.DisplayFor(modelItem => Model.Title)</h1>

            <a asp-action="Index" asp-route-id="@Model?.TaskListId">
                <i style="text-decoration:none;color:black;" class="bi bi-x-lg"></i>
            </a>
        </div>

        <div>
            <p>Data utworzenia: @Html.DisplayFor(model => model.CreateDate)</p>
            <a asp-action="Edit" asp-route-id="@Model?.TaskListId" class="btn btn-outline-dark">Edytuj</a>
            <a asp-action="Delete" asp-route-id="@Model?.TaskListId" class="btn btn-outline-dark">Usuń</a>
            <hr />

        </div>
    </div>
</div>
<script>
    document.body.classList.add('gradient');
</script>