@model ToDo.Models.Priority

@{
    ViewData["Title"] = "Nowy priorytet";
}
<partial name="_Background" />
<div class="no-gradient justify-content-center mx-auto" style="margin-top:15%;width:70%;">
<h1 class="text-center">Nowy priorytet</h1>


<div class="row justify-content-center">
    <div class="col-md-6">
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PriorityName" class="control-label">Nazwa</label>
                <input asp-for="PriorityName" class="form-control" />
                <span asp-validation-for="PriorityName" class="text-danger"></span>
            </div><br />
            <div class="form-group text-center">
                <input type="submit" value="Utwórz" class="btn btn-outline-dark" />
                <a asp-action="Index" class="btn btn-outline-dark">Powrót</a>
            </div>
        </form>
    </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
