@model ToDo.Models.Priority

@{
    ViewData["Title"] = "Usuwanie";
}
<partial name="_Background" />
<div class="no-gradient justify-content-center mx-auto" style="margin-top:15%;width:70%;">
<h1>Usuwanie</h1>

<h3>Jesteś pewien, że chcesz usunąć?</h3>
<div>
    <h4>Priorytet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nazwa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriorityName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PriorityId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-outline-dark">Powrót</a>
    </form>
</div>
</div>