@model ToDo.Models.Priority

@{
    ViewData["Title"] = "Sczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Priorytet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nazwa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriorityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PriorityId" class="btn btn-outline-dark">Edycja</a>
    <a asp-action="Index" class="btn btn-outline-dark">Powrót</a>
</div>
