@model IEnumerable<ToDo.Models.Priority>

@{
    ViewData["Title"] = "Rodzaje priorytetów";
}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Rodzaje priorytetów</h1>
    <p>
        <a asp-action="Create" class="btn btn-outline-dark">Nowy priorytet</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriorityName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PriorityId" class="btn btn-outline-dark">Edycja</a>
                <a asp-action="Details" asp-route-id="@item.PriorityId" class="btn btn-outline-dark">Szczegóły</a> 
                    <a asp-action="Delete" asp-route-id="@item.PriorityId" class="btn btn-outline-dark">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
