@model ToDo.Models.Category

@{
    ViewData["Title"] = "Edycja";
}

<h1>Edycja</h1>

<h4>Kategoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label">Nazwa</label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-outline-dark" />
                <a asp-action="Index" class="btn btn-outline-dark">Powrót</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
