@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Brak dostępu!";
}
<partial name="_Background" />
<div class="no-gradient justify-content-center mx-auto" style="margin-top:10%;width:70%;">
<img src="/images/no_access.jpg" style="height:80vh;">
</div>