@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Brak dostępu!";
}
<partial name="_Background" />
@*<div class="no-gradient-nothing justify-content-center mx-auto" style="margin-top:10%;width:70%;">*@
    <img class="no-gradient-nothing justify-content-center mx-auto" src="/images/no_access.jpg">
@*</div>*@